<div class="w-full flex items-center my-20" data-timeline="{{include.type}}">
  <img src="/images/side_decoration_left.svg" class="w-10 md:w-20 bg-tan -ml-14 mr-14 md:-ml-28 md:mr-28 border-8 border-tan" alt="" role="presentation">
  <h2 class="font-curly text-2xl sm:text-3xl md:text-4xl lg:text-5xl w-full text-center mb-6">
    {{include.title}}
  </h2>
  <img src="/images/side_decoration_right.svg" class="w-10 md:w-20 bg-tan -mr-14 ml-14 md:ml-28 md:-mr-28 border-8 border-tan" alt="" role="presentation">
</div>
