<div class="min-h-screen flex justify-center items-center">
  <div class="w-full max-w-7xl relative">
    <img src="/images/full_border.svg" class="w-full md:hidden" alt="Jeanine & Ruben, 27 tot en met 29 augustus 2024">
    <img src="/images/full_border_tablet.svg" class="w-full hidden md:block lg:hidden" alt="Jeanine & Ruben, 27 tot en met 29 augustus 2024">
    <img src="/images/full_border_desktop.svg" class="w-full hidden lg:block" alt="Jeanine & Ruben, 27 tot en met 29 augustus 2024">
    <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" alt="Jeanine & Ruben, 27 tot en met 29 augustus 2024">
      <div class="w-1/2 max-h-1/3 text-center">
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-curly mb-10" style="line-height: 7rem;">
          Jeanine & Ruben</h1>
        <p class="text-3xl font-medium">27 - 29 | 08 | 2024</p>
      </div>
    </div>
  </div>
</div>
