<div class="w-full mt-6 text-center">Bekijk het programma voor:</div>
<div class="w-full my-2 flex justify-center">
  <button class="py-2 px-4 border-t-2 border-b-2 border-l-2 rounded-l hover:bg-secondary hover:text-white hover:border-secondary border-secondary bg-secondary text-white" data-timeline-button="alles" onclick="changeProgram('alles')">Allesgasten (di-do)</button>
  <button class="py-2 px-4 border-t-2 border-b-2 hover:bg-secondary hover:text-white hover:border-secondary border-primary" data-timeline-button="dag" onclick="changeProgram('dag')">Daggasten (wo-do)</button>
  <button class="py-2 px-4 border-t-2 border-b-2 border-r-2 rounded-r hover:bg-secondary hover:text-white hover:border-secondary border-primary" data-timeline-button="kerk" onclick="changeProgram('kerk')">Kerkgasten (wo)</button>
</div>


<table class="custom w-full table-fixed my-6 border-collapse">
  <thead>
  <tr>
    <th></th>
    <th class="p-1">Dinsdag</th>
    <th>Woensdag</th>
    <th>Donderdag</th>
  </tr>
  </thead>
  <tbody>
  <tr class="border-b-1 border-slate">
    <td class="p-1 align-top text-left border-8 border-tan">09:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="2" class="p-1 bg-secondary text-white border-8 border-tan">Ontbijt</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">10:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="2" class="p-1 bg-secondary text-white border-8 border-tan">Brunch</td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">11:00</td>
    <td rowspan="2" class="p-1 bg-secondary text-white border-8 border-tan">Welkom</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="2" class="p-1 bg-secondary text-white border-8 border-tan">Lunch</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">12:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="2" class="p-1 bg-secondary text-white border-8 border-tan">Lunch</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">13:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">14:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="3" class="p-1 bg-secondary text-white border-8 border-tan">Trouwdienst</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">15:00</td>
    <td rowspan="4" class="p-1 bg-secondary text-white border-8 border-tan">Burgerlijk huwelijk</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td rowspan="5" class="p-1 bg-secondary text-white border-8 border-tan">Receptie</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">16:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">17:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">18:00</td>
    <td rowspan="5" class="p-1 bg-secondary text-white border-8 border-tan">Diner</td>
    <td rowspan="5" class="p-1 bg-secondary text-white border-8 border-tan">Diner</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">19:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">20:00</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan">21:00</td>
    <td rowspan="3" class="p-1 bg-secondary text-white border-8 border-tan">Borrel en Stukjes</td>
    <td rowspan="3" class="p-1 bg-secondary text-white border-8 border-tan">Feest</td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  <tr>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
    <td class="p-1 align-top text-left border-8 border-tan"></td>
  </tr>
  </tbody>
</table>
