<table class="custom w-full h-full table-fixed my-6 border-collapse hidden text-sm sm:text-base  md:text-xl" data-timeline="dag">
  <thead>
  <tr class="h-full">
    <th></th>
    <th colspan="2">Woensdag</th>
    <th colspan="2">Donderdag</th>
  </tr>
  </thead>
  <tbody>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">09:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">10:00</td>
    <td colspan="2" rowspan="3" class="h-full">
      <div class="p-1 bg-primary text-white h-full"><span class="text-sm">10:00</span> Tent opzetten</div>
    </td>
    <td colspan="2" rowspan="2" class="h-full">
      <div class="p-1 bg-primary text-white h-full"><span class="text-sm">10:00</span> Brunch</div>
    </td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">11:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td colspan="2" rowspan="2" class="h-full">
      <div class="p-1 bg-secondary text-white h-full"><span class="text-sm">11:30</span> Lunch</div>
    </td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">12:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">13:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">14:00</td>
    <td colspan="2" rowspan="3" class="h-full">
      <div class="p-1 bg-secondary text-white h-full"><span class="text-sm">14:00</span> Trouwdienst</div>
    </td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">15:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td colspan="2" rowspan="5" class="h-full">
      <div class="p-1 bg-secondary text-white h-full"><span class="text-sm">15:30</span> Receptie</div>
    </td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>

  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">16:00</td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">17:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">18:00</td>
    <td colspan="2" rowspan="5" class="h-full">
      <div class="p-1 bg-secondary text-white h-full"><span class="text-sm">18:00</span> Diner</div>
    </td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">19:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">20:00</td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full border-t">
    <td class="p-1 align-top text-left">21:00</td>
    <td colspan="2" rowspan="3" class="h-full">
      <div class="p-1 bg-secondary text-white h-full"><span class="text-sm">21:00 - 02:00</span> Feest</div>
    </td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  <tr class="h-full">
    <td class="p-1 align-top text-left"><span class="inline-block"></span></td>
    <td class="p-1 align-top text-left"></td>
    <td class="p-1 align-top text-left"></td>
  </tr>
  </tbody>
</table>
