<!-- Hoi! Leuk dat je hier kijkt. Niks te vinden hier, maar misschien wel op andere plekken. -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{{ page.title }} · Bruiloft Jeanine en Ruben · 27-29 | 08 | 2024</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="author" content="Ruben Smit">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/style/markdown.css">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body class="text-primary font-serif bg-white">
<nav class="flex justify-center items-center flex-col p-8 bg-tan">
  <div class="w-full flex justify-between md:justify-center mb-2">
    <a href="/" class="font-curly text-4xl">Jeanine & Ruben <span class="sr-only">(terug naar start)</span></a>
    <button class="md:hidden px-2 py-1 text-primary" onclick="toggleMenu(this)">
        <span class="" data-menu="open">
          <img src="/images/hamburger_icon.svg" class="text-primary" alt="Open menu">
        </span>
      <span class="hidden" data-menu="close">
          <img src="/images/x_icon.svg" class="text-primary" alt="Sluit menu">
        </span>
    </button>
  </div>
  <div class="flex flex-col md:flex-row w-full md:w-auto text-xl font-semibold md:space-x-4">
    <a href="/programma_en_locatie" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Programma &
      Locatie</a>
    <a href="/praktische_informatie" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Praktische
      informatie</a>
    <a href="/help_mee" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Help mee</a>
    <a href="/cadeautips" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Cadeautips</a>
    <a href="/vraag_en_antwoord" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Vraag & Antwoord</a>
    <a href="/aanmelden" class="hidden md:inline p-2 hover:font-bold text-secondary" data-menu="item">Aanmelden</a>
  </div>
  </div>
</nav>
<div style="background-image: url('/images/backdrop.jpg');" class="h-40 md:h-120 w-full bg-pos-custom bg-cover"></div>
<main class="mx-auto max-w-screen-lg">
  <article class="px-4 pt-8 pb-10 md:p-20 min-h-60 markdown-body">
    <h1 class="w-full text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-center mb-10">{{ page.title }}</h1>
    {{ content }}
  </article>
</main>
<footer class="text-center p-5 mt-20">
  © Ruben Smit 2024
</footer>
</body>
<script>
  function toggleMenu(element) {
    document.querySelectorAll('[data-menu="item"]').forEach(item => {
      item.classList.toggle('hidden')
    })
    element.querySelector('[data-menu="open"]').classList.toggle('hidden')
    element.querySelector('[data-menu="close"]').classList.toggle('hidden')
  }

  function changeProgram(program) {
    document.querySelectorAll('[data-timeline="alles"]').forEach(item => {
      hideItem(item, program != 'alles');
    })
    document.querySelectorAll('[data-timeline="dag"]').forEach(item => {
      hideItem(item, program != 'dag');
    })
    document.querySelectorAll('[data-timeline="kerk"]').forEach(item => {
      hideItem(item, program != 'kerk');
    })
    selectButton(document.querySelector('[data-timeline-button="alles"]'), program == 'alles');
    selectButton(document.querySelector('[data-timeline-button="dag"]'), program == 'dag');
    selectButton(document.querySelector('[data-timeline-button="kerk"]'), program == 'kerk');
  }

  function hideItem(item, hide) {
    if (hide) {
      item.classList.add('hidden');
    } else {
      item.classList.remove('hidden');
    }
  }

  function selectButton(item, select) {
    if (select) {
      item.classList.remove('border-primary', 'text-primary');
      item.classList.add('border-secondary', 'bg-secondary', 'text-white');
    } else {
      item.classList.remove('border-secondary', 'bg-secondary', 'text-white');
      item.classList.add('border-primary', 'text-primary');
    }
  }
</script>
</html>
