<!-- Hoi! Leuk dat je hier kijkt. Niks te vinden hier, maar misschien wel op andere plekken. -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="author" content="Ruben Smit">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/style/markdown.css">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body class="text-primary font-serif bg-white">
<nav class="sr-only">
  <a href="/programma_en_locatie" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Programma &
    Locatie</a>
  <a href="/praktische_informatie" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Praktische
    informatie</a>
  <a href="/help_mee" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Help mee</a>
  <a href="/cadeautips" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Cadeautips</a>
  <a href="/vraag_en_antwoord" class="hidden md:inline p-2 hover:font-bold" data-menu="item">Vraag & Antwoord</a>
  <a href="/aanmelden" class="hidden md:inline p-2 hover:font-bold text-secondary" data-menu="item">Aanmelden</a>
</nav>
<header style="background-image: url('/images/backdrop.jpg');" class="flex items-center justify-center h-96 md:h-screen w-full bg-center bg-cover">
  <div class="flex w-2/3">
    <div class="flex flex-col items-center flex-shrink">
      <h1 class="text-center md:text-left font-curly drop-shadow-md text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl" style="line-height: 2rem;">
        Jeanine <span class="inline-block">& Ruben</span>
      </h1>
      <p class="drop-shadow-md text-2xl sm:text-3xl md:text-4xl lg:text-5xl mt-6">27-29 augustus 2024</p>
    </div>
  </div>
</header>
<menu class="w-full md:mx-auto md:max-w-screen-xl -mt-20 p-0">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 m-4">
    <a href="/programma_en_locatie" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Programma & Locatie</h2>
      <p class="tex-base"></p>
    </a>
    <a href="/praktische_informatie" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Praktische informatie</h2>
      <p class="tex-base">Over parkeren, overnachten, de paklijst, dresscode, stukjes en meer</p>
    </a>
    <a href="/aanmelden" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Aanmelden</h2>
      <p class="tex-base">Hier kun je je aanmelden zodat we genoeg stoelen en taart hebben.</p>
    </a>
    <a href="/help_mee" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Help mee</h2>
      <p class="tex-base">Wil je helpen door iets mee te nemen of klaar te zetten?</p>
    </a>
    <a href="/cadeautips" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Cadeautips</h2>
      <p class="tex-base">Gewoon wat inspiratie</p>
    </a>
    <a href="/vraag_en_antwoord" class="bg-tan p-8">
      <h2 class="text-2xl mb-2">Vraag & Antwoord</h2>
      <p class="tex-base">Want waarom doen we nou eigenlijk drie dagen? En wanneer draagt Jeanine haar jurk?</p>
    </a>
  </div>
</menu>
<main class="mx-auto max-w-screen-lg mt-20">
  <h2 class="font-curly w-full text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-center mb-10">Wij gaan trouwen!</h2>
  <article class="bg-tan p-4 md:p-20 min-h-60 markdown-body">
    {{ content }}
  </article>
</main>
<footer class="text-center p-5 mt-20">
  © Ruben Smit 2024
</footer>
</body>
<script>
  function toggleMenu(element) {
    document.querySelectorAll('[data-menu="item"]').forEach(item => {
      item.classList.toggle('hidden')
    })
    element.querySelector('[data-menu="open"]').classList.toggle('hidden')
    element.querySelector('[data-menu="close"]').classList.toggle('hidden')
  }

  function changeProgram(program) {
    document.querySelectorAll('[data-timeline="alles"]').forEach(item => {
      hideItem(item, program != 'alles');
    })
    document.querySelectorAll('[data-timeline="dag"]').forEach(item => {
      hideItem(item, program == 'kerk');
    })
    selectButton(document.querySelector('[data-timeline-button="alles"]'), program == 'alles');
    selectButton(document.querySelector('[data-timeline-button="dag"]'), program == 'dag');
    selectButton(document.querySelector('[data-timeline-button="kerk"]'), program == 'kerk');
  }

  function hideItem(item, hide) {
    if (hide) {
      item.classList.add('hidden');
    } else {
      item.classList.remove('hidden');
    }
  }

  function selectButton(item, select) {
    if (select) {
      item.classList.remove('border-primary', 'text-primary');
      item.classList.add('border-secondary', 'bg-secondary', 'text-white');
    } else {
      item.classList.remove('border-secondary', 'bg-secondary', 'text-white');
      item.classList.add('border-primary', 'text-primary');
    }
  }
</script>
</html>
